@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);















#header4-0 H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#header4-0 P {
  font-family: 'Ubuntu', sans-serif;
}
#header3-j P {
  color: #000000;
  font-size: 36px;
  text-align: center;
}
#header3-j H3 {
  text-align: center;
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
}
#features1-2 .mbr-section__col .mbr-header__text {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
#header2-f H1 {
  text-align: left;
  font-size: 72px;
  font-family: 'Indie Flower', cursive;
}
#image2-3 SMALL {
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  text-align: center;
}
#header2-e H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  text-align: right;
}
#features1-k P {
  text-align: center;
}
#header2-d H1 {
  font-size: 72px;
  font-family: 'Indie Flower', cursive;
}
#header3-8 H3 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 30px;
}
#header3-8 P {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
#content1-9 P {
  font-family: 'Ubuntu', sans-serif;
}
#content1-9 DIV {
  font-family: 'Ubuntu', sans-serif;
}
#header2-c H1 {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
#testimonials1-b .mbr-section__header {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
#header3-m H3 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
